body {
    background-color:lightgray;
    font-size: 16px;
    padding: 30px;
}

img {
    width: 100%;
}

.carousel-item {
    height: 700px;
}

a.navbar-brand img {
    width: 60px;
}

.endpage {
    color: lightgrey;
    height: 80px;
    width: 80px;
}