body {
    background-color:lightgray;
    font-size: 16px;
    padding: 30px;
}

img {
    width: 100%;
}

.carousel-item {
    height: 700px;
}

a.navbar-brand img {
    width: 60px;
}

.endpage {
    color: lightgrey;
    height: 80px;
    width: 80px;
}

.colorado  {
    background-image: url(colorado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-top: 20px;
}

.patiobellavista  {
    background-image: url(patiobellavista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-top: 20px;
}

.vineyard {
    background-image: url(vineyard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-top: 20px;
}